@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To All About Tennis.</p>
    <p> Create an account now to see upcoming specials!</p>

</div>
